$cor1: #fff;
$cor2: #001514;


aside {
    background-color: $cor1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    max-width: 100rem;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .itens {
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        h2 {
            font-size: 1.3rem;
            text-transform: uppercase;
        }

        a {
            text-decoration: none;
            font-size: 1.3rem;
            color: $cor2;
        }

        a:hover {
            text-decoration: underline;
        }

        div {
            display: flex;
            align-items: center;
            gap: 1rem;

            i {
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
    }
}