$cor1: #98B9F2;
$cor2: #0C120C;

nav {
    background-color: $cor1;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    a {
        padding: .5rem 0rem;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        color: $cor2;
    }

    a:hover {
        text-decoration: underline;
    }

    div {
        font-size: 2rem;
        display: flex;
        align-items: center;
        gap: .2rem;
    }
}