@charset "UTF-8";
@import "_header";
@import "_nav";
@import "_main";
@import "_section";
@import "_aside";
@import "_footer";


$roboto: "Roboto", sans-serif;
$cor1: #ccc;

:root {
    font-size: 62.5%;
}

* {
    font-family: $roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    line-height: 1.6;
}

body {
    background-color: $cor1;
}

@media screen and (max-width:904px) {
    .content-tools {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:945px) {
    .sc1 {
        img {
            width: 40rem;
        }
    }
}

@media screen and (max-width:945px) {
    .sc1 {
        img {
            width: 30rem;
        }
    }
}

@media screen and (max-width:745px) {
    .login {
        display: block;

        .sc1 {
            border: none;
        }

        .sc2 {
            input {
                width: 100%;
            }

            .btn {
                width: 30rem;
            }
        }
    }
}

@media screen and (max-width:690px) {
    .content-cadastro {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:597px) {
    header {
        display: block;
        text-align: center;
    }

    .logo {
        display: block;

        span {
            display: block;
        }
    }

    .search {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .account {
        justify-content: center;
        margin-bottom: 1rem;
    }

    .icons {
        justify-content: center;
    }

    nav {
        flex-direction: column;
    }

    .content-tools,
    .content {
        grid-template-columns: repeat(1, 1fr);
    }

    aside {
        width: 100%;
        display: block;
    }
}

@media screen and (max-width:431px) {
    .login {
        .sc2 {
            .btn {
                width: 20rem;
            }
        }
    }
}