<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/29dd473d90.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body class="login-cadastro">
    <main class="content-login-cadastro">
        <header class="logo">
            <img src="assets/logo.png" alt="Logo do Site">
        </header>

        <section class="sc1">
            <label for="email">email</label>
            <input type="email" name="eml" id="email">
            <label for="senha">senha</label>
            <input type="password" name="psw" id="senha">
            <button>Entrar</button>
            <button>Esqueceu sua senha ?</button>
            <div>
                <span>Não tem conta?</span>
                <a href="#">Cadastre-se</a>
            </div>
        </section>
    </main>
</body>

</html>