body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://img.freepik.com/free-photo/wide-shot-old-barn-s-workbench-with-different-types-tools_181624-15921.jpg?w=1060&t=st=1683937526~exp=1683938126~hmac=15ccf21f56a93faf33af23cde6e1363593348942fc61f51d202a7bf6d4054450");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
    max-width: 600vw;
}

.nav-link {
    padding: 0.25rem 0;
    /* font-weight: 700; */
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5)
}

.nav-link.active {
    color: white;
    border-bottom-color: white
}

.btn-secondary,
.btn-secondary:hover {
    color: #333;
    text-shadow: none;
}

main>a {
    text-decoration: none;
    color: white;
}

main>a:hover {
    color: white;
    text-decoration: none;
}