<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/29dd473d90.js" crossorigin="anonymous"></script>
    <title>Cadastro</title>
</head>

<body class="login-cadastro">
    <main class="content-login-cadastro">
        <header class="logo">
            <img src="assets/logo.png" alt="Logo do Site">
        </header>

        <section class="sc1">
            <label for="name">nome</label>
            <input type="text" name="name" id="name">
            <label for="lastname">Sobrenome</label>
            <input type="text" name="lastname" id="lastname">
            <label for="email">nome de usuário</label>
            <input type="email" name="eml" id="email" placeholder="@gmail.com">
            <label for="senha">senha</label>
            <input type="password" name="psw" id="senha">
            <label for="pass">confirma senha</label>
            <input type="password" name="pass" id="pass">
            <button>Cadastrar</button>
            <div>
                <span>Já tem conta?</span>
                <a href="#">faça login em vez disso</a>
            </div>
        </section>
    </main>
</body>

</html>