$cor1: #fff;
$cor2: #001514;

footer {
    padding: 2rem;
    border-top: .21rem solid $cor2;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    text-align: center;
    font-size: 1.7rem;
}