<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tools Easy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">ToolEasy!</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="#">Página Inicial</a>

                    <a class="nav-link" href="#">Entrar</a>
                    <a class="nav-link" href="#">Criar conta</a>
                    <a class="nav-link" href="#">Sair</a>

                </nav>
            </div>
        </header>
        <main class="px-3">
            <a href="home.html">
                <h1>ToolEasy</h1>
            </a>
            <br>
            <p class="lead">Bem vindo! <br> Tooleasy é sua plataforma de aluguel, Tenha acesso a todo tipo de peça de
                construção, <br>tudo no conforto de sua casa.<br>
            </p>
            <a href="#" class="btn btn-lg btn-secondary font-weight-bold text-dark border-white bg-white">Explorar
                Catálogo</a>
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; 2023 Todos os direitos reservados </p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin=""></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin=""></script>
</body>

</html>