@charset "UTF-8";
@import "_main";

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');
$hind: 'Hind Madurai', sans-serif;

$cor1: #3C0909;
$cor2: #c1a866;
$cor3: #d9d9d9;
$cor4: #66666e;
$cor5: #80727b;
$cor6: #edf2f4;
$cor7: #000;

:root {
    font-size: 62.5%;
}

* {
    font-family: $hind;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
}

.login-cadastro {
    background-image: linear-gradient(to right, $cor1, $cor4);
}

@media screen and (max-width:454px) {
    .content-login-cadastro {
        .sc1 {
            label {
                font-size: 1.4rem;
            }

            button {
                font-size: 1.4rem;
            }

            div {
                font-size: 1.4rem;
            }
        }
    }
}

@media screen and (max-width:432px) {
    .content-login-cadastro {
        .sc1 {
            label {
                font-size: 1.4rem;
            }

            button {
                font-size: 1.2rem;
            }

            div {
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width:409px) {
    .content-login-cadastro {
        .sc1 {
            label {
                font-size: 1.4rem;
            }

            button {
                font-size: 1rem;
            }

            div {
                font-size: 1rem;
            }
        }
    }
}