<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <title>Templates de Cadastro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/main.css" />
</head>

<body>
    <header>
        <h1>📝 Cadastro Templates</h1>
        <p>Formulários bonitos e fáceis de usar</p>
    </header>

    <main>
        <section class="cards">
            <a href="cadastro01/" class="card">
                <h2>Cadastro 01</h2>
                <!-- <p>Simples, direto ao ponto</p> -->
                <button>Visualizar</button>
            </a>
            <a href="cadastro02/" class="card">
                <h2>Cadastro 02</h2>
                <!-- <p>Com etapas (step form)</p> -->
                <button>Visualizar</button>
            </a>
        </section>
    </main>

    <footer>
        <p><a href="/web-ui-templates/">⬅ Voltar à página inicial</a></p>
    </footer>
</body>

</html>